//colors//
$colour-primary:#9356DC ;
$colour-secondary:#FF79DA ;
$colour-tertiary:#99E2D0 ;
$colour-grey:rgba(84, 84, 84, 0.105) ;
$colour-black:#000000c6 ;
$colour-white:#ffffff ;
$colour-footer:#353535 ;

//fonts//
$title-font:'Shrikhand', sans-serif;
$text-font:'Roboto', sans-serif;
